html {
  height: 100%;
  width: 100%;
  background-color: #fdfdfd;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: #fdfdfd;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/SECBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

.main-title {
  font-size: 50pt;
  margin-bottom: 30px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.search-container {
  height: 60px;
  width: 180px;
  display: flex;
  border: 2px solid #fdfdfd;
  border-radius: 4px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.search-input {
  height: 60px;
  width: 116px;
  color: #fdfdfd;
  font-size: 12pt;
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.search-input::placeholder {
  color: #fdfdfd;
}

.search-input:focus {
  outline: none;
}

.search-submitButton {
  height: 60px;
  width: 60px;
  font-size: 11pt;
  font-weight: 700;
  color: #fdfdfd;
  border: none;
  border-left: 2px solid #fdfdfd;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.search-submitButton:hover {
  color: rgba(0, 0, 0, 0.3);
}
